.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-500);
}

.task input{
  width: 1rem;
  background: transparent !important;
}



.task button {
  background: transparent;
  color: var(--Blue);
  border: 0;
}

.checkbox {
  display: flex;
  gap: 1rem;
}

.isChecked {
  text-decoration: 2px line-through var(--purple);
}


