.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-500);
}

.task input{
  padding: 2rem;
  background: var(--gray-500);
  border: 1px solid var(--Blue);
}

.task input[type="checkbox"]:checked + label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--Blue);
  background: var(--gray-500);
}

